/*codigo css*/

.tableHead {
    font-size: 25px;
    font-weight: bold;
    background-color:black;
    color:white;
}

.row1 {
    background-color:#cccccc;
    font-size: 20px;
    font-weight: 600;
}

.row2 {
    font-size: 20px;
    font-weight: 600;
}

.sub_title
{
    font-size: 30px;
    font-weight: bold;
    color:white;
    background-color: black;
  /*  padding-left: 20px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    text-align: center;
}

.form_input_title
{
    font-size: 20px;
    font-weight: bold;
    color:white;
    background-color: black;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

@keyframes animation1 {
    from {
        transform: translate(0,100px);
    }
    to {
        transform: translate(0,-20px);
        background-position: center;
    }
}

.success {
    width:100%;
    height: 25%;
    border-radius: 20px;
    border: 1px solid Green;
    background-color: #b4fca3;
    animation-name: animation1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    text-align-all: center;
}

.unsuccess {
    width:100%;
    height: 25%;
    border-radius: 20px;
    border: 1px solid red;
    background-color: #ffd7d7;
    animation-name: animation1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    text-align-all: center;
}

.warnig_list {
    color: #a40101;
    padding-top: -20px;
    margin-left: 60px;
}

#obg_main {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
}

#obg {
    color: #750000;
    font-weight: 900;
}

#suc_main {
    color: #197500;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

#suc {
    color: #197500;
    font-weight: 900;
}

#continuar {
    margin-left: 30px;
}